/* Colore 1* postit #92C952 */
/* Colore 2* postit #771796 */
/* Colore 3* postit #24F355*/
/* Colore 4* postit #D32776*/
/* Colore 5* postit #F66B97/*
/* Colore 6* postit #56A8C2*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.box-header {
    background-image: url(../img/wall.png);
    max-width: 100%;
    height: 100px;
}

h1 {
    text-align: center;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;

}

h2 {
    text-align: center;
    font-family: "Sometype Mono", monospace;
    font-weight: 200;
    font-style: normal;
    font-optical-sizing: auto;
}



img {
    max-width: 100%;

}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    background-image: url(../img/cork.png);
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.card {
    background-color: white;
    /* padding: 1rem; */
    position: relative;
    display: block;

}

.pin {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.col-lg {
    width: calc(100% / 12 * 4)
}

.col-md {
    width: calc(100% / 12 * 6)
}

.col-sm {
    width: calc(100% / 12 * 12)
}

/* Query */

@media screen and (min-width: 993px) {

    .col {
        width: calc(100% / 12 * 4)
    }
}


@media screen and (max-width: 992px) {

    .col-sm {
        width: calc(100% / 12 * 4)
    }
}


@media screen and (max-width: 768px) {
    .col-md {
        width: calc(100% / 12 * 6)
    }
}


@media screen and (max-width: 568px) {
    .col-lg {
        width: calc(100% / 12 *12)
    }
}